/* Estilos generales */
* {
    box-sizing: border-box;
}

:root {
    --Dark-blue-dark-blue-300: #0A3871;
    --Gray-gray-400: #495057;
    --Gray-gray-500: #343A40;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    width: 100%;
}

header {
    padding: 1em;
}

main {
    padding: 1em;
}

main textarea {
    width: 100%;
    height: auto;
    border: none;
    background-color: #E5E5E5;
    outline: none;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

main textarea::placeholder {
    color: #0A3871;
}

.info {
    color: var(--Gray-gray-400, #495057);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.btn {
    padding: 24px;
    border-radius: 24px;
    width: 100%;
    border: none;
    text-align: center;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    cursor: pointer;
    transition: background-color 0.3s color 0.3s;
}

.btn-encriptar {
    color: white;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
}

.btn-encriptar:hover {
    background-color: #095b9b;
}

.btn-encriptar:active {
    background: #073c6a;
}

.btn-desencriptar {
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    margin-top: 24px;
    background-color: transparent;
}

.btn-desencriptar:hover {
    background: rgba(10, 56, 113, 0.1);
}

.btn-desencriptar:active {
    background: rgba(10, 56, 113, 0.2); 
}

.resultado {
    display: flex;
    width: 100%;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    border-radius: 32px;
    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.resultado p {
    text-align: center;
    font-family: Inter;
}

.resultado p:first-child {
    color: var(--Gray-gray-500, #343A40);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%; 
}

.resultado p:nth-child(2) {
    color: var(--Gray-gray-400, #495057);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

footer {
    background-color: var(--Dark-blue-dark-blue-300, #0A3871);
    color: white;
    padding: 1em;
    text-align: center;
}

footer p {
    margin: 5px;
}

.footer-email {
    font-weight: bold;
    font-size: 10px;
}

.footer-year {
    font-size: 14px;
}

/* Estilos para dispositivos móviles */
@media only screen and (min-width: 600px) {

}
